/* Ensure this CSS is added to your main stylesheet */
header {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  header.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Change this to your desired color */
    color: rgb(255, 255, 255);
  }
  
  /* Optional: Adjust the logo color when scrolled */
  header.scrolled .text-blue-500 {
    color: #fff; /* Adjust if needed */
  }
  
  header.scrolled nav ul li a {
    color: white;
  }

  header.scrolled a {
    color: white;
  }
  
  header.scrolled button{
    border-color: white ;
    color: white;
  }



  